body {
  margin: 0;
}
.avail-books {
  width: 20rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.book-wrapper {
  width: 100%;
  margin: 0 auto;
}
.book-card {
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  width: 25rem;
  margin: 0 auto !important;
}

a {
  text-decoration: none !important;
  font-size: 1.2em;
}
li {
  font-size: 1.2rem;
  list-style: none;
}
.books-details-container {
  border-radius: 5px;
  border: 1px dashed black;
  width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}
